
# исключить все файлы с расширением .a
*.a
# но отслеживать файл lib.a даже если он попадает под исключение выше
!lib.a
# игнорировать все файлы в директории build/
build/
# Crash log files
crash.log
crash.*.log
